<label class="block my-4">
  <span class="block text-sm text-marineblue">{{ inputLabel }}</span>
  <input
    [formControl]="control"
    class="border placeholder-slate-400 contrast-more:border-slate-400 contrast-more:placeholder-slate-500 w-full p-2 rounder-md"
    [placeholder]="placeholder"
    [mask]="format"
  />

  <!-- TODO:fix masking of phone number -->
  <ng-container *ngIf="control.touched && control.dirty">
    <p *ngIf="control.errors?.['required']" class="text-red-400 text-sm">
      Field is required
    </p>
    <p *ngIf="control.errors?.['minlength']" class="text-red-400 text-sm">
      The value you inputted is
      {{ control.errors?.['minlength'].actualLength }} characters long. It must
      be at least
      {{ control.errors?.['minlength'].requiredLength }}
      characters long.
    </p>
    <p *ngIf="control.errors?.['email']" class="text-red-400">
      You must enter a valid email
    </p>
    <p class="text-red-400" *ngIf="control.errors?.['minlength']">
      The value you inputted is
      {{ control.errors?.['minlength'].actualLength }} characters long. It must
      be at least 13 characters long.
    </p>
  </ng-container>
</label>
