<nav
  class="flex flex-row md:flex-col justify-center md:justify-normal p-10 md:px-2 md:h-full"
>
  <app-sidebar-button
    buttonNumber="1"
    (btnClick)="changeTab('personal')"
    buttonDescription="Your info"
  ></app-sidebar-button>
  <app-sidebar-button
    buttonNumber="2"
    (btnClick)="changeTab('plan')"
    buttonDescription="Select plan"
  ></app-sidebar-button>

  <app-sidebar-button
    buttonNumber="3"
    (btnClick)="changeTab('add-ons')"
    buttonDescription="Add-ons"
  ></app-sidebar-button>

  <app-sidebar-button
    buttonNumber="4"
    (btnClick)="changeTab('summary')"
    buttonDescription="Summary"
  ></app-sidebar-button>
</nav>
